/* universal selector to apply these properties to everything unless speccified otherwise */

* {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* outline: red solid 2px; */
}

/* adds background image to whole page */
body {
    background-image: url("./images/wp8981153.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* background table for the entire header */
header {
    background-image: linear-gradient(to right, transparent ,#65867c, #2e2e2e);
    color: aquamarine;
    font-size: 4vw;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 2%;
}
/* name on left of header */
.ry {
    margin-left:8%;
}
/* main nav to the rest of the page; jumpdown links */
nav {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 30%;
    margin-right: 20%;
}

/* styles the links in the nac */
.link {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(146, 146, 146);
    font-size: 4vw;
    margin: 5%;
}

 /* main picture/design for page, separating header and main */
.hero {
    width: 100%;
    height: 25rem;
    background-image: url("./images/wp8981153.jpg");
    background-size: cover;
    background-position: center;
    border: rgba(0,0,0, 0.6) double 50px;
}

/* container for about section */
.aa {
    display:flex;
    justify-content: space-between;
    background-color: rgba(46, 46, 46, 0.8);
    margin: 2% auto;
}
/* about title on left */
#about {
    display: flex;
    color: aquamarine;
    font-size: 4vw;
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
    border-right: dashed 2px aquamarine;
    padding: 2%;
    margin: 2%;
    background-color: transparent;
}
/* about content - paragraph about me */
.aboutcn {
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: rgb(146, 146, 146);
    font-size:3vw;
    flex-basis: 67%;
    padding: 2%;
    background-color: transparent;
}

/* work container */
.ww {
    display:flex;
    justify-content: space-between;
    background-color: rgba(46, 46, 46, 0.8);
    margin: 2% auto;
}
/* work title on left */
#work {
    display: flex;
    color: aquamarine;
    font-size: 4vw;
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
    border-right: dashed 2px aquamarine;
    padding: 2%;
    margin: 2%;
}
/* container holding all work links and images */
.workcn {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(146, 146, 146);
    font-size:2.3rem;
    flex-basis: 67%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

/* container for first work image and link */
.work1 {
    width: 100%;
    flex:2 0 100%;
    margin-top: -5%;
}
/* title tab for first link */
.tab1 {
    position: relative;
    top: 76%;
    width: fit-content;
    z-index: 2;
    padding: 0.3%;
    border: rgb(115, 230, 192) double 10px;
    font-size: 1.1vw;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    filter: none !important;
    white-space: nowrap;
}
/* styles text link within the tab */
.tl1 {
    text-decoration: none;
    font-size: 1.1vw;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
/* the actual link and image to first project */
.one {
    display: block;
    filter: opacity(50%);
    background-image: url("./images/minpro.png");
    height:10rem;
    background-position: center;
    background-size:auto 600px;
    position: relative;
}
/* second work container */
.work2 {
    flex:1 0 48%;  
    margin-right:1%;
    margin-top:-4%;
}
.tab2 {
    position: relative;
    top: 77%;
    width: fit-content;
    z-index: 2;
    padding: 0.3%;
    border: rgb(115, 230, 192) double 10px;
    font-size: 1.1vw;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    white-space: nowrap;
    text-decoration: none;
    display:block;
}
.two {
    display: block;
    filter: opacity(50%);
    background-image: url("./images/wweshot.png");
    height:10rem;
    background-position:inherit;
    background-size:auto 600px;
    position: relative;
}
/* third work container */
.work3 {
    flex:1 0 48%;
    margin-left:1%;
    margin-top:-4%;
}
.tab3 {
    position: relative;
    top: 77%;
    width: fit-content;
    z-index: 2;
    padding: 0.3%;
    border: rgb(115, 230, 192) double 10px;
    font-size: 1.1vw;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    white-space: nowrap;
    text-decoration: none;
    display:block;
}
.three {
    display: block;
    filter: opacity(50%);
    background-image: url("./images/horishot.png");
    height:10rem;
    background-position:center;
    background-size:auto 400px;
    position: relative;
}

/* fourth work container */
.work4 {
    flex:1 0 46%;  
    margin-right:1%;
    margin-top:-4%;
}
.tab4 {
    position: relative;
    top: 77%;
    width: fit-content;
    z-index: 2;
    padding: 0.3%;
    border: rgb(115, 230, 192) double 10px;
    font-size: 1.1vw;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    white-space: nowrap;
    text-decoration: none;
    display:block;
}
.four {
    display: block;
    filter: opacity(50%);
    background-image: url("./images/full-lp.png");
    height:10rem;
    background-position:center;
    background-size:auto 400px;
    position: relative;
}

/* fifth work container */
.work5 {
    flex:1 0 46%;
    margin-left:1%;
    margin-top:-4%;
}
.tab5 {
    position: relative;
    top: 77%;
    width: fit-content;
    z-index: 2;
    padding: 0.3%;
    border: rgb(115, 230, 192) double 10px;
    font-size: 1.1vw;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    white-space: nowrap;
    text-decoration: none;
    display:block;
}
.five {
    display: block;
    filter: opacity(50%);
    background-image: url("./images/snipfullpage.png");
    height:10rem;
    background-position:center;
    background-size:auto 400px;
    position: relative;
}

/* when hovering over these elements, filter is removed */
.one:hover, .two:hover, .three:hover, .four:hover, .five:hover {
    filter: none;
}

/* contact container */
.cc {
    display:flex;
    justify-content: space-between;
    background-color: rgba(46, 46, 46, 0.8);
}
/* contact title on left */
#contact {
    display: flex;
    color: aquamarine;
    font-size: 4vw;
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
    border-right: dashed 2px aquamarine;
    padding: 2%;
    margin: 2%;
    background-color: transparent;
}
/* contact links */
.contactcn {
    flex-basis: 67%;
    padding: 2%;
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
/* styling links */
.contactcn a {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(146, 146, 146);
    font-size:4vw;
    background-color: transparent;
}
/* targets to style icons in contact */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
/* makes icons glow upon hover */
  .link:hover, .fa:hover {
    opacity: 1.0;
    text-shadow: 0 0 20px #9afe89;
  }
/* tried to make contact links glow when hover over title; did not work. */
#contact:hover + .contactcn .fa {
    text-shadow: 0 0 20px #9afe89;
    transition:all ease-in 0.2s;
}

/* responsiveness to entire webpage when screen shrinks; work images take up entire width of container */
@media screen and (max-width:768px) {
    .work1, .work2, .work3, .work4, .work5 {
        flex:1 1 100%;
        margin-top: -5%;
    }
 
 }